/*sliders */
.rslides {
  list-style: none;
  margin: 0 auto;
  margin-top: 1.5em;
  max-width: 50%;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  display: none;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
  }

.rslides li:first-child {
  display: block;
  float: left;
  position: relative;
  }

.rslides img {
  border: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 1);
  display: block;
  float: left;
  height: auto;
  width: 100%;
  }